img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 92vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.no-user-profile-img {
  width: 100%;
  height: 100%;
}

.footer-container {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100%;
  /* background: #4a97d6; */
}
.footer-item {
  border-bottom-style: none !important;
}

.mycard {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ImageArticleText {
  padding-top: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
